@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

*:before,
*:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::-webkit-scrollbar {
  width: 0.45rem;
  background-color: #282c34;
}

*::-webkit-scrollbar-thumb {
  background-color: #171923;
  border-radius: 3px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

canvas:hover {
  cursor: grab;
}

/* Hamburger menu: https://codepen.io/ainalem/pen/wvKOEMV */
.line {
  fill: none;
  stroke: currentColor;
  stroke-width: 6;
  transition: stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
}

.line2 {
  stroke-dasharray: 60 60;
}

.line3 {
  stroke-dasharray: 60 207;
}

.opened.line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
}

.opened.line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
}

.opened.line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
}

@responsive {
  .gradient-1 {
    position: absolute;
    width: 200px;
    height: 438px;
    top: 0px;
    right: 0px;

    background: #7aebfb;
    filter: blur(190px);
  }

  .gradient-2 {
    position: absolute;
    width: 200px;
    height: 438px;
    left: 0;
    bottom: 0px;

    background: rgba(149, 66, 232, 0.35);
    filter: blur(175px);
    transform: rotate(-114.2deg);
  }

  .skills-gradient {
    position: absolute;
    width: 200px;
    height: 438px;
    left: 0;
    bottom: 0px;

    background: rgba(170, 101, 250, 0.5);
    filter: blur(190px);
  }

  .about-gradient {
    position: absolute;
    width: 200px;
    height: 438px;
    top: 0px;
    right: 0px;

    background: rgba(122, 235, 251, 0.5);
    filter: blur(190px);
  }
  .contact-gradient-1 {
    position: absolute;
    width: 200px;
    height: 438px;
    left: 0;
    bottom: 0px;

    background: rgba(149, 66, 232, 0.35);
    filter: blur(155px);
  }
  .contact-gradient-2 {
    position: absolute;
    width: 200px;
    height: 438px;
    bottom: 0px;
    right: 0px;

    background: rgba(122, 235, 251, 0.35);
    filter: blur(190px);
  }
  .projects-gradient-1 {
    position: absolute;
    width: 304px;
    height: 50vh;
    left: 30%;
    top: 10%;

    background: rgba(45, 72, 152, 0.75);
    filter: blur(200px);
    transform: rotate(-53.13deg);
  }
  .projects-gradient-2 {
    position: absolute;
    width: 200px;
    height: 438px;
    left: 30%;
    top: 10%;

    background: rgba(45, 72, 152, 0.75);
    filter: blur(200px);
  }
  .not-found-gradient {
    position: absolute;
    width: 200px;
    height: 438px;
    top: 0px;
    right: 0px;

    background: rgba(149, 66, 232);
    filter: blur(190px);
  }
}

.custom-loader {
  color: #ffffff;
  font-size: 45px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
